body {
  margin: 0;
  color: white;
  font-family: Arial;
}

a {
  color: #A0C5FF;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  font-weight: normal;
  display: inline;
}

label {
  color: #FFD667;
  float: right;
  font-size: 12px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
}

.main-div {
  border: 1px solid #A0C5FF;
  background-color: #000;
}

#explorer-view-content {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#spacecast3d-info {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 28px;
  max-width: 50%;
}

#spacecast3d-info[data-star-focused=false] {
  visibility: hidden;
}

#spacecast3d-info-header {
  border-bottom: 1px solid #707070;
  padding: 5px 28px;
  top: -28px;
  right: 28px;
  background-color: #111;
  position: relative;
  width: 100%;
}

#spacecast3d-info-header input {
  background-color: #0000;
  border: None;
}

#spacecast3d-info-header input:focus {
  outline: None;
}

#spacecast-controls #spacecast3d-info-name {
  background-color: #0000;
  color: #FFD667;
  font-size: 27px;
  width: 50%;
}

#spacecast3d-info-name-box {
  display: inline-block;
}

/* dat.gui overrides */

#spacecast-controls {
  width: fit-content !important;
}

#spacecast-controls input {
  background-color: rgba(255, 255, 255, 0.28);
}

#spacecast-controls input[type="checkbox"] {
  border: 1px solid #707070;
  appearance: None;
  -moz-appearance: None;
	-webkit-appearance: None;
  color: white;
  padding: 0;
  width: 16px;
  height: 16px;
  font-size: 14px;
  text-align: center;
}

#spacecast-controls input[type="checkbox"]:checked::after {
  content: '\2713';
  position: relative;
  bottom: 2px;
}

#spacecast-controls li.cr {
  padding: 0;
}

#spacecast-controls li.number input[type="text"] {
  text-align: right;
  background: none;
}

#spacecast-controls select {
  z-index: 1;
}

#spacecast-controls .close-top {
  height: 0;
  visibility: hidden;
}

#spacecast-controls .property-name {
  color: #FFD667;
  font-size: 11px;
  text-align: right;
  width: 150px;
  display: inline-block;
  text-transform: uppercase;
}

#spacecast-controls .property-name::after {
  width: 14px;
  display: inline-block;
  content: '';
}

#spacecast-controls .slider {
  height: 5px;
  background-color: #707070;
  position: relative;
  top: 7px;
}

#spacecast-controls .slider-fg {
  background-color: white;
  display: inline-block;
  height: 5px;
  position: absolute;
  top: 0;
}

#spacecast-controls *:not(option):not(select) {
  color: white;
  background-color: #0000;
  border: none;
}
