body {
  margin: 0;
  color: white;
  font-family: Arial;
}

a {
  color: #A0C5FF;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  font-weight: normal;
  display: inline;
}

p {
  font-size: 16px;
}

label {
  color: #FFD667;
  float: right;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  top: 0.5em;
}

.main-div {
  border: 1px solid #A0C5FF;
  background-color: #000;
}

#explorer-view-content {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#spacecast-controls {
  position: absolute;
  top: 16px;
  left: 16px;
}

#spacecast3d-info {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 28px;
  max-width: 509px;
}

#spacecast3d-info-header {
  border-bottom: 1px solid #707070;
  padding: 5px 28px;
  top: -28px;
  right: 28px;
  background-color: #111;
  position: relative;
  width: 100%;
}

#spacecast3d-info-header input {
  background-color: #0000;
  border: None;
}

#spacecast3d-info-header input:focus {
  outline: None;
}

#spacecast3d-info-name {
  color: #FFD667;
  font-size: 27px;
}

/* dat.gui overrides */

#spacecast-controls {
  padding: 24px 24px 24px 30px;
}

#spacecast-controls * {
  color: white;
  background-color: #0000;
  border: none;
}

#spacecast-controls .close-top {
  appearance: None;
  -moz-appearance: None;
	-webkit-appearance: None;
  color: #0000;
  height: 0;
}

#spacecast-controls .slider {
  height: 5px;
  background-color: #707070;
  position: relative;
  top: 7px;
}

#spacecast-controls .slider-fg {
  background-color: white;
  display: inline-block;
  height: 5px;
  position: absolute;
  top: 0;
}

#spacecast-controls input,
#spacecast-controls select {
  background-color: rgba(255, 255, 255, 0.28);
}

#spacecast-controls li.number input[type="text"] {
  text-align: right;
  background: none;
}

#spacecast-controls input[type="checkbox"] {
  width: 22px;
  height: 22px;
  border: 1px solid #707070;
}

#spacecast-controls input[type="checkbox"] {
  font-size: 18px;
}

#spacecast-controls input[type="checkbox"],
#spacecast-controls select {
  appearance: None;
  -moz-appearance: None;
	-webkit-appearance: None;
  display: inline-block;
  color: white;
  padding: 3px;
  padding-top: 0;
  text-align: center;
}

#spacecast-controls select {
  padding: 3px 0 4px 10px;
  border: none;
  border-radius: 0;
  width: 100%;
}

#spacecast-controls input[type="checkbox"]:checked::after {
  content: '\2713';
}

#spacecast-controls .property-name {
  color: #FFD667;
  font-size: 12px;
  text-align: right;
  text-transform: uppercase;
}

#spacecast-controls .property-name::after {
  width: 14px;
  display: inline-block;
  content: '';
}

#spacecast-controls-header {
  position: absolute;
  top: 4px;
  left: 5px;
  right: 7px;
  margin: 0;
  height: auto;
}

#spacecast-controls-header span {
  text-transform: uppercase;
  color: #A0C5FF;
}

#spacecast-controls-header #spacecast-controls-header-x {
  background-color: #0000;
  border: none;
  float: right;
  font-size: 18px;
  padding: 0;
  margin: 0;
  width: 13px;
  height: 13px;
}

#spacecast-controls-header #spacecast-controls-header-x::after {
  position: absolute;
  bottom: 0;
  right: 1px;
  content: '+';
}

#spacecast-controls-header #spacecast-controls-header-x:checked::after {
  content: '\D7';
}

#spacecast-controls[data-is-expanded=false] {
  height: 1em;
  padding-bottom: 0;
}

#spacecast-controls[data-is-expanded=false] .main {
  height: 0;
  overflow: hidden;
}
